{% extends 'base.html' %} {% block title %}Page d'actualité{% endblock %}
{% block content %}
<div class="container">
  <h1 class="mt-5 mb-4">Actualités</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            France : Ferre Gola a franchi un sommet et enflammé Adidas Arena à Paris, la rumba congolaise est sauvée !https://lesechos-congobrazza.com
          </h5>
          <p class="card-text">Le concert de Ferre Gola du samedi 20 avril 2024, a illustré combien cet artiste tient les rennes du chant, de la maîtrise vocale et mérite son statut de dépositaire actuel de la rumba congolaise. Le public qui a répondu présent à Adidas Arena, la nouvelle salle polyvalente et modulable située dans le quartier de la Chapelle à Paris en France, été émerveillé et rassuré sur le futur de la musique congolaise. Un tel pouvoir entre les mains d’un artiste… « La rumba congolaise est sauvée », pour paraphraser l’écrivain du Congo-Brazzaville, Alain Mabanckou. Les férus des belles sonorités ont vécu un moment musical exceptionnel et intemporel </p>
          <a href="https://lesechos-congobrazza.com/culture/10117-france-ferre-gola-a-franchi-un-sommet-et-enflamme-adidas-arena-a-paris-la-rumba-congolaise-est-sauvee" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Isaac Ngata a été confirmé en tant que sélectionneur national des Diables Rouges seniors hommes</h5>
          <p class="card-text">Isaac Ngata a été confirmé en tant que sélectionneur national des Diables Rouges seniors hommes. L’événement s’est déroulé lors d’une réunion au siège de la Fédération Congolaise de Football (Fecofoot). Il a été présenté aux membres du Comité exécutif de la Fecofoot, marquant ainsi le début d’une nouvelle ère pour le football congolais, rapporte notre confrère Le Troubadour de Brazzaville</p>
          <a href="https://lesechos-congobrazza.com/sport/10119-isaac-ngata-a-ete-confirme-en-tant-que-selectionneur-national-des-diables-rouges-seniors-hommes" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
