{% extends 'base.html' %} {% block title %}Page Accueil{% endblock %}
{% block content %}

<h1>Nos parcours</h1>
<h2 class"">Samuel Nandi</h2>
<div class="list-group ml-1" style="margin-left: 20px">
  <h3>Primaire</h3>
  <ul>
    <li>CP1 - CE1</li>
    <span> Ecole Primaire de Mvouti </span>
    <li>CE1 - CE2</li>
    <span> Ecole Privé Nhoa (Owando) </span>
    <li>CM1 - CM2 </li>
    <span> Ecole d'Application (Owando)</span>
  </ul>
  <h3>College</h3>
  <ul>
    <li>6e - 5e</li>
    <span> Saint Joseph (Owando) </span>
    <li>4e - 3e</li>
    <span> Complexe Scolaire Emmanuel (Brazzaville)</span>
  </ul>
  <h3>Lycée</h3>
  <ul>
    <li>Première - Terminal</li>
    <span>Lycée Scientifique de Massengo (Brazzaville) </span>
  </ul>
  <h3>Université</h3>
  <ul>
    <li>Parcours Licence</li>
    <span> Ecole Supérieure de Gestion et d'Administration des Entreprises (ESGA) <span>
  </ul>
</div>
<br>
<br>
<br>
<h2 class"">Fredy Oniangue</h2>
<div class="list-group ml-1" style="margin-left: 20px">
  <h3>Primaire</h3>
  <ul>
    <li>CP1 - CE1</li>
    <span> Ecole Primaire Gneto </span>
    <li>CE1 - CM2</li>
    <span> Ecole Privé Petits Amis </span>
  </ul>
  <h3>College</h3>
  <ul>
    <li>6e - 3e</li>
    <span> Immaculée Conception </span>
  </ul>
  <h3>Lycée</h3>
  <ul>
    <li>Seconde - Terminal</li>
    <span>Anne Marie Javouhey</span>
  </ul>
  <h3>Université</h3>
  <ul>
    <li>Parcours Licence</li>
    <span> Ecole Supérieure de Gestion et d'Administration des Entreprises (ESGA) <span>
  </ul>
</div>



{% endblock %}
