{% extends 'base.html' %} {% block title %}Page de projets{% endblock %}
{% block content %}

<h3>Projets</h3>
<h3> Samuel Nandi</h3>
<dl>
    <dt class="text-blue-500">
        <a href="https://www.drumcello.com"> DrumCello </a>
    </dt>
    <dd> DrumCello est une application de streaming de musique </dd>
    <br>
    <dt class="text-blue-500">
        <a href="https://cellotree.samuelnandi.tech"> CelloTree </a>
    </dt>
    <dd>
        CelloTree permet de creer des arbres
        génealogiques et les visualiser
    </dd>
</dl>


{% endblock %}
